.countdown {
	position: absolute;
	left: 1rem;
	top: 0;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-top: 1rem;
}

.countdown-date,
.countdown-time {
	background-color: transparent;
	color: var(--white);
	color-scheme: dark;
	padding: 0.5rem;
	outline: none;
	border: 1px solid var(--white);
}

.desc-input {
	background-color: transparent;
	outline: none;
	border: none;
	width: 200px;
	border-bottom: 1px solid var(--white);
	font-size: 0.9rem;
	color: var(--white);
	font-family: "Spartan", sans-serif;
}

.desc-input::placeholder {
	color: var(--grey);
}

.countdown-modal {
	width: 250px;
	background-color: var(--black-lessopacity);
	border-radius: 0.5rem;
	position: relative;
}

.add-countdown .material-icons-outlined {
	font-size: 1.75rem;
	font-weight: 100;
	color: var(--white);
}

.add-countdown:hover {
	cursor: pointer;
}

.btn-close-countdownmodal {
	position: absolute;
	top: 0;
	right: 0;
	margin: 2px;
	padding: 4px;
}

.event-details {
	display: flex;
	align-items: flex-start;
	max-width: 130px;
}

.event-details .material-icons-outlined {
	font-size: 1rem;
}

.event-details:hover .btn-edit-event {
	opacity: 1;
	transition: opacity 0.2s ease-in;
}

.btn-edit-event {
	background-color: transparent;
	color: inherit;
	width: auto;
	padding: 6px;
	aspect-ratio: 1;
	border: none;
	opacity: 0;
}

.btn-edit-event:hover {
	background-color: rgba(0, 0, 0, 0.4);
	border-radius: 50%;
}

.event-over-modal {
	background-color: var(--black-lessopacity);
	width: 400px;
	border-radius: 0.5rem;
	height: 100px;
}

.event-over-modal .material-icons-outlined {
	font-size: 2rem;
}

.event-details > div > div {
	display: flex;
	align-items: center;
}

.event-details > div > div > p {
	flex-grow: 1;
}
