.todo {
	position: relative;
	background-color: var(--black-lessopacity);
	z-index: 5;
	width: 300px;
	height: 250px;
	display: flex;
	flex-direction: column;
	border-radius: 0.5rem;
}

.date-tag {
	text-align: left;
}

.todo-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.todo-text {
	width: 80%;
	background-color: transparent;
	outline: none;
	border: none;
	color: var(--white);
	font-family: "Spartan", sans-serif;
	position: absolute;
	bottom: 0;
	font-size: 0.9rem;
}

.todo-text::placeholder {
	color: var(--grey-light);
	font-weight: 300;
	font-size: 0.9rem;
}

.todo-list {
	background-color: var(--black-lessopacity);
	z-index: 5;
	width: 300px;
	border-radius: 0.5rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	position: relative;
}

.todo-scrollbar {
	width: 100%;
	max-height: 60vh;
	overflow: auto;
}

.todo-checkbox {
	appearance: none;
	background-color: transparent;
	margin: 0;
	font: inherit;
	color: currentColor;
	width: 1rem;
	height: 1rem;
	border: 0.1rem solid currentColor;
	border-radius: 0.15rem;
	display: inline-grid;
	place-content: center;
}

.todo-checkbox::before {
	content: "";
	width: 0.65rem;
	height: 0.65rem;
	transform: scale(0);
	transition: 120ms transform ease-in-out;
	box-shadow: inset 1rem 1rem var(--white);
}

.todo-checkbox:checked::before {
	transform: scale(1);
	transform-origin: bottom left;
	clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

.todo-checkbox:hover {
	cursor: pointer;
}

.label-todo {
	display: flex;
	align-items: center;
	width: 100%;
}

.btn-todo .material-icons-outlined {
	font-size: 1rem;
}

.btn-todo {
	background-color: transparent;
	color: inherit;
	width: auto;
	padding: 6px;
	aspect-ratio: 1;
	border: none;
}

.btn-todo:hover {
	background-color: rgba(184, 184, 184, 0.2);
	border-radius: 50%;
}

.label-todo > span {
	flex-grow: 1;
	display: block;
}

.flex-space-between {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.todo-scrollbar::-webkit-scrollbar-track {
	border-radius: 4px;
	background-color: var(--white);
}

.todo-scrollbar::-webkit-scrollbar {
	width: 0px;
	background-color: var(--white);
}

.todo-scrollbar::-webkit-scrollbar-thumb {
	border-radius: 4px;
	background-color: var(--primary);
}
