.landingimage {
	height: 100vh;
	background: url("../assets/wallpaper.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.overlay-wrapper {
	position: relative;
}

.overlay {
	position: absolute;
	height: 100vh;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.3);
	z-index: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: var(--white);
}

.nametag {
	font-size: 3.5rem;
}

.focustag {
	font-size: 2rem;
}

.name-text {
	width: 500px;
	padding: 0.5rem 1rem;
	margin-bottom: 3rem;
	background-color: transparent;
	outline: none;
	border: none;
	border-bottom: 3px solid var(--white);
	font-size: 2.5rem;
	color: var(--white);
	text-align: center;
	font-family: "Spartan", sans-serif;
}

.focus-text {
	font-size: 1.5rem;
}

.time-display {
	font-size: 8rem;
	margin-top: 50px;
}

.todotag-bottom-right {
	position: absolute;
	right: 1rem;
	bottom: 0;
}

.weather-top-right {
	position: absolute;
	right: 1rem;
	top: 0;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.quote-bottom-center {
	position: absolute;
	bottom: 0;
}

.todo-bottom-right {
	position: absolute;
	right: 1rem;
	bottom: 3rem;
}

.focus-checkbox {
	appearance: none;
	background-color: transparent;
	margin: 0;
	font: inherit;
	color: currentColor;
	width: 1.15rem;
	height: 1.15rem;
	border: 0.15rem solid currentColor;
	border-radius: 0.15rem;
	transform: translateY(-0.1rem);
	display: inline-grid;
	place-content: center;
}

.focus-checkbox::before {
	content: "";
	width: 0.65rem;
	height: 0.65rem;
	transform: scale(0);
	transition: 120ms transform ease-in-out;
	box-shadow: inset 1rem 1rem var(--white);
}

.focus-checkbox:checked::before {
	transform: scale(1);
	transform-origin: bottom left;
	clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	transition: background-color 5000s ease-in-out 0s;
	-webkit-text-fill-color: var(--white);
}

.btn-edit {
	background-color: transparent;
	color: inherit;
	width: 2.5rem;
	aspect-ratio: 1;
	border: none;
	transform: translateY(0.3rem);
}

.btn-edit:hover {
	background-color: rgba(161, 161, 161, 0.3);
	border-radius: 50%;
}
