.notes-wrapper {
	position: absolute;
	top: 270px;
	left: 1rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.notes-textarea {
	resize: none;
	width: 250px;
	height: 200px;
	color: var(--white);
	border: none;
	outline: none;
	font-family: "Spartan", sans-serif;
	background-color: transparent;
}

.notes-container {
	display: flex;
	flex-direction: column;
	background-color: var(--black-lessopacity);
	border-radius: 0.5rem;
	padding: 0.75rem 1rem;
	position: relative;
}

.notes-textarea:focus {
	border: none;
	outline: none;
}

.notes-title-input {
	background-color: transparent;
	font-family: "Spartan", sans-serif;
	border: none;
	outline: none;
	color: var(--white);
	font-weight: 600;
	font-size: 1.1rem;
}

.notes-wrapper::-webkit-scrollbar-track {
	border-radius: 4px;
	background-color: var(--white);
}

.notes-wrapper::-webkit-scrollbar {
	width: 0px;
	background-color: var(--white);
}

.notes-wrapper::-webkit-scrollbar-thumb {
	border-radius: 4px;
	background-color: var(--primary);
}
