@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Spartan:wght@200;300;400;500;600;700;800&display=swap");

:root {
	--black-lessopacity: rgba(0, 0, 0, 0.7);
}

body {
	margin: 0;
	font-family: "Spartan", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow: hidden;
	user-select: none;
}

.btn:hover {
	cursor: pointer;
}

.fs-0-7 {
	font-size: 0.7rem;
}

.text-left {
	text-align: left;
}

.bg-grey-10 {
	background-color: rgba(255, 255, 255, 0.3);
}
